@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,300;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;
}

html{
    scroll-behavior: smooth;
}

#inicio{
    background: linear-gradient( rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("../img/desk.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

#inicio .contenido header {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    font-weight: bold;
}

#inicio .contenido header .contenido-header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#inicio .contenido header .contenido-header h1 {
    text-align: center;
    color: #00c8ec;
}

#inicio .contenido header .contenido-header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

#inicio .contenido header .contenido-header nav ul li a {
    text-decoration: none;
    color: #fff;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
}

#inicio .contenido header .contenido-header nav ul li a:hover {
    color: #ff5080;
}

#inicio .contenido header .contenido-header .redes a {
    text-decoration: none;
    color: #f17742;
    display: inline-block;
    margin-left: 10px;
    transition: .5s;
}

#inicio .contenido header .contenido-header .redes a:hover {
    color: #f34949;
}

#inicio .contenido header .contenido-header .seleccionado {
    color: #45a3e2;
}

#inicio .contenido .presentacion {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inicio .contenido .presentacion .bienvenida {
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#inicio .contenido .presentacion h2 {
    font-size: 55px;
    margin-bottom: 25px;
    text-align: center;
}

#inicio .contenido .presentacion h2 span {
    font-size: 25px;
    color: #ff7350;
}

#inicio .contenido .presentacion .descripcion {
    max-width: 700px;
    margin: 25px auto;
    font-size: 18px;
    text-align: center;
}

#inicio .contenido .presentacion a {
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #f03b16;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}

#inicio .contenido .presentacion a:hover {
    background-color: #4eb6ba;
}

#icono-nav {
    color: #fff;
    display: none;
}

/* Seccion BIO */

#sobremi{
    min-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color: #a6a6c7;
    display: flex;

}

#sobremi .contenedor-foto{
    max-width: 400px;
    margin-right: 80px;
}

#sobremi .contenedor-foto img{
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: #6a8b83;
}

#sobremi .sobremi{
    margin: 0 40px;
}

#sobremi .sobremi .titulo-seccion{
    font-size: 22px;
    text-transform: uppercase;
    color: #bdbdc6;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#sobremi .sobremi h2{
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}

#sobremi .sobremi h2 span{
    color: #4eb6ba;
}

#sobremi .sobremi h3{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
    color: #f17742;
}

#sobremi .sobremi p{
    font-size: 14px;
    line-height: 25px;
    color: #f0e8e8;
}

#sobremi .sobremi a{
    display: inline-block;
    text-align: justify;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid #000;
    margin-top: 30px;
    transition: .5s;
}

#sobremi .sobremi a:hover{
    color: #f17742;
    background-color: #45a3e2;
    font-weight: bold;
}

/* header bio */

#header{
    height: 10vh;

}

#header .contenido header {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    font-weight: bold;
}

#header .contenido header .contenido-header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#header .contenido header .contenido-header h1 {
    text-align: center;
    color: #00c8ec;
}

#header .contenido header .contenido-header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

#header .contenido header .contenido-header nav ul li a {
    text-decoration: none;
    color: #fff;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
}

#header .contenido header .contenido-header nav ul li a:hover {
    color: #ff5080;
}

#header .contenido header .contenido-header .redes a {
    text-decoration: none;
    color: #f17742;
    display: inline-block;
    margin-left: 10px;
    transition: .5s;
}

#header .contenido header .contenido-header .redes a:hover {
    color: #f34949;
}

/* seccion S E R V I C I O S */

#portfolio {
     padding: 100px 15px;
     text-align: center;
     background-color: #f3f3f3;
     font-weight: bold;
     color: #4eb6ba;
}
        
#portfolio .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #092941;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}
        
#portfolio .fila {
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    margin: 30px auto;
}
        
#portfolio .fila .servicio {
    max-width: 350px;
    background-color: #fd8353;
    padding: 30px;
    margin: 0 5px;
    border-radius: 5px;
    transition: .5s;
}
        
#portfolio .fila .servicio:hover {
    box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
}
        
#portfolio .fila .servicio .icono {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #9bc2fe;
    padding: 20px;
    margin-bottom: 25px;       
}
        
#portfolio .fila .servicio h4 {
    font-size: 22px;
    margin-bottom: 25px;
}
        
#portfolio .fila .servicio hr {
    width: 30%;
    margin: auto;
    color: #000;
    margin-bottom: 25px;
}
        
#portfolio .fila .servicio ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
        
#portfolio .fila .servicio p {
    font-size: 14px;
    line-height: 22px;
}

 /* seccion S K I L L S */
        
        
.contenedor-skills {
    background: linear-gradient( #eb5a5acc, rgba(33, 16, 16, 0.8)), url("img/fondo-skills.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    background-position: center center;
    padding: 100px 0;
    text-align: center;
}
        
.contenedor-skills .skill {
    max-width: 600px;
    margin: 30px auto;
}
        
.contenedor-skills .skill .info {
    display: flex;
    justify-content: space-between;
}
        
.contenedor-skills .skill .lista {
    display: inline-block;
    margin-right: 20px;
    height: 10px;
    width: 10px;
    background-color: #fff;
}
        
.contenedor-skills .skill .barra {
    background-color: #919191;
    width: 100%;
    height: 6px;
    margin: 10px 0px;
}
        
.contenedor-skills .skill .barra .barra-progreso1 {
    background-color: #fff;
    width: 95%;
    height: 6px;
    animation: progreso1 2s forwards;
}
        
.contenedor-skills .skill .barra .barra-progreso2 {
    background-color: #fff;
    width: 90%;
    height: 6px;
    animation: progreso2 2s forwards;
}
        
.contenedor-skills .skill .barra .barra-progreso3 {
    background-color: #fff;
    width: 90%;
    height: 6px;
    animation: progreso3 2s forwards;
}
        
.contenedor-skills .skill .barra .barra-progreso4 {
    background-color: #fff;
    width: 85%;
    height: 6px;
    animation: progreso4 2s forwards;
}
        
@keyframes progreso1 {
    0% {
        width: 0;
    }
    100% {
        width: 95%;
    }
}
        
@keyframes progreso2 {
    0% {
        width: 0;
    }
    100% {
        width: 90%;
    }
}
        
@keyframes progreso3 {
    0% {
        width: 0;
    }
    100% {
        width: 90%;
    }
}
        
@keyframes progreso4 {
    0% {
        width: 0;
    }
    100% {
        width: 85%;
    }
}

/* seccion SERVICIOS */

#servicios {
    max-width: 1100px;
    padding: 100px 0;
    margin: auto;
}
        
#servicios .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}
        
#servicios .fila {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
        
#servicios .fila .proyecto {
    max-width: 450px;
    border: 1px solid #000;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}
        
#servicios .fila .proyecto img {
    width: 100%;
    height: 100%;
            ;
    filter: grayscale(1);
    object-fit: cover;
    transition: .5s;
}
        
#servicios .fila .proyecto:hover img {
    filter: grayscale(0);
}
        
#servicios .fila .proyecto .info {
    position: absolute;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ff5080;
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: .5s;
}
        
#servicios .fila .proyecto:hover .info {
    opacity: 1;
    bottom: 0;
}

/* seccion C O N T A C T O */
        
#contacto {
    padding: 100px 15px;
    background-color: #f3f3f3;
        }
        
#contacto .titulo-seccion {
    margin-bottom: 20px;
        }
        
#contacto .contenedor-form {
    max-width: 1100px;
    margin: auto;
        }
        
#contacto .contenedor-form .fila {
    margin-bottom: 15px;
        }
        
#contacto .contenedor-form .mitad {
    display: flex;
    justify-content: space-between;
        }
        
#contacto .contenedor-form input,
#contacto .contenedor-form textarea {
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #919191;
        }
        
#contacto .contenedor-form .mitad input {
    width: 48%;
        }
        
#contacto .contenedor-form .input-full {
    width: 100%;
        }
        
#contacto .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
        }
        
#contacto .btn-enviar {
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px !important;
        }
        
#contacto .btn-enviar:hover {
    background-color: #ff5080;
    color: #fff;
        }
       
/* seccion F O O T E R */
        
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
        }
        
footer a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 5px;
    font-size: 26px;
}



